<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <table id="itemTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td><button class="edit-btn" data-id="{{ item.id }}">Edit</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div id="editModal" style="display:none;">
        <form id="editForm" method="POST">
            {% csrf_token %}
            <div id="formContainer"></div>
            <button type="submit">Save</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $('#itemTable').DataTable();

            $('.edit-btn').on('click', function() {
                var itemId = $(this).data('id');
                $.get('/edit/' + itemId + '/', function(data) {
                    $('#formContainer').html($(data).find('form').html());
                    $('#editModal').show();
                });
            });

            $('#editForm').on('submit', function(e) {
                e.preventDefault();
                $.post($(this).attr('action'), $(this).serialize(), function(data) {
                    if (data.success) {
                        location.reload();
                    } else {
                        $('#formContainer').html($(data).find('form').html());
                    }
                });
            });
        });
    </script>
</body>
</html>
